<ion-header>
  <ion-toolbar color="primary">

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>เพิ่มคำศัพท์</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content padding>

  <form [formGroup]="exampleForm" novalidate (ngSubmit)="onSubmit(exampleForm.value)" no-padding>
    <ion-item>
      <ion-label position="floating">ชื่อ</ion-label>
      <ion-input type="text" formControlName="name" placeholder="ชื่อ" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">ภาษาจีน</ion-label>
      <ion-input type="text" formControlName="chinese" placeholder="ภาษาจีน" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">พินอิน</ion-label>
      <ion-input type="text" formControlName="pinin" placeholder="พินอิน" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">คำอ่าน</ion-label>
      <ion-input type="text" formControlName="spell" placeholder="คำอ่าน" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">ประโยค</ion-label>
      <ion-input type="text" formControlName="sentense" placeholder="ประโยค" required></ion-input>
    </ion-item>


    <ion-button margin-top color="primary" expand="block" [disabled]="!exampleForm.valid" type="submit">เพิ่มข้อมูล
    </ion-button>

    <ion-button color="medium" expand="block" (click)="resetFields()">ค่าเริ่มต้น</ion-button>
  </form>


</ion-content>