<ion-header>
  <ion-toolbar color="primary">

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>{{item.name}}</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <!-- <ion-card-header>
      <ion-card-title></ion-card-title>
    </ion-card-header> -->
    <ion-card-content>
      <p>{{item.chinese}}</p>
      <p>{{item.pinin}}</p>
      <p>{{item.spell}}</p>
      <p>{{item.sentense}}</p>
    </ion-card-content>
  </ion-card>
</ion-content>